.site_page_header {
  background-image: url(/assets/images/header_bg.jpg);
  height: 130px;
  width: 100vw;
  border-bottom: 3px solid #e3ba32;
}

.menu {
  background-color: transparent;
  display: inline-flex;
  align-items: flex-start;
  padding: 0;
}
.menu_item {
  background-color: none;
  color: white;
  /* font-weight: 600; */
  margin: 0;
  font-size: 1rem;
}

.params {
  /* margin: 5px; */
  /* padding: 5px; */
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(3, auto);
  gap: 8px;
  max-width: 150px;
}

.params Button {
  color: #002e5d;
  cursor: pointer;
  font-size: 0.65rem;
  /* padding: 20px;  */
  /* margin: 0; */
  font-weight: 600;
  
}

.buttonDouble {
  grid-column: span 4; 
  border-radius: 6px;

}

.buttonLogin {
  grid-column: span 3;
  color: white !important;  
  font-size: 0.8rem !important;
  font-weight: 600;
  margin-inline-start:5px;
  
}
.buttonLogin:hover{
  background-color: hsla(0, 43%, 99%, 0.3);
}
.buttonTrans  {
  grid-column: span 2;
  color: white !important;
  margin-inline: 3px;
  /* height: 40px;
  width: 40px; */
}
.buttonSimple {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  /* padding: 0; */
  margin: 0;
  border-radius: 5px;
  width: 50px;
  height: 45px;
}
.buttonTrans:hover{
  background-color: hsla(0, 43%, 99%, 0.3);
}

