.carouselButton {
  animation-name: carouselButtons;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: 10s;
}

/* @keyframes carouselButtons {
  
  0% {
    bottom: 0px;
  }
  70% {
    bottom: 50px;
  }
} */
.homeCarousel .owl-prev {
  left: 5%;
  top:45%;
  background:grey;
  font-size:72px
}
.homeCarousel .owl-next {
  top:45%; right:5%
}

