.owl-stage {
  display: flex;
}
.owl-dots .owl-dot {
  border: 2px solid #fff !important;
  border-radius: 50%;
  margin: 0 2px;
  padding: 0px !important;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #22223B !important;
}
.owl-dot.active,
.owl-dot:hover {
  border: 2px solid #22223B !important;
}
.owl-dot.active span {
  background: #22223B !important;
}
.owl-dot span:hover {
  background: #22223B;
}
.owl-dot span {
  width: 8px !important;
  height: 8px !important;
  margin: auto !important;
  border-radius: 50%;
  background-color: #22223B !important;
}
.owl-nav {
  margin-top: 30px !important;
}

.owl-nav button {
  position: absolute;
}
.owl-nav button:hover {
  background-color: unset !important;
}

.owl-prev {
  left: 30%;
}

.owl-next {
  right: 30%;
}

.testimonials-section .owl-stage {
  display: flex;
  align-items: center;
}
.testimonials-section .testimonialCard {
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 9%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 9%);
 
  /* padding-block:50px; */
  /* width:200px */
}
.testimonials-section .owl-item.center .testimonialCard {
  background-color: #22223B !important;
  color: white;
  /* width:100% */
   /* width:380px; */
  /*padding:50px; */
}
.owl-item .description {
  display: none;
  font-size: 1rem;
  font-weight:500
  /* width:100% */
}
.owl-item.center .description {
  display: block;
}
.owl-item .avatar {
  height: 100px;
  width: 100px !important;
}
.owl-item.center .testimonialTitle {
  color: white;
}
